<div class="container-fluid">
  <!--Reset Password page start-->
  <div class="authentication-main">
    <div class="row">
      <div class="col-md-4 p-0">
        <div class="auth-innerleft">
          <div class="text-center">
            <img src="assets/images/cloudcontact/logo-login.png" class="logo-login" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-8 p-0">
        <div class="auth-innerright">
          <div class="authentication-box">
            <h3>CREATE YOUR PASSWORD</h3>
            <div class="card mt-4 p-4">
              <form class="theme-form" [formGroup]="resetPasswordForm">
                <div class="form-group">
                  <label class="col-form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" required minlength="8">
                </div>
                <div *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.required"
                     class="text text-danger mt-1">
                  Password is required
                </div>
                <div *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors" class="text text-danger mt-1">
                  <div ng-message="minlength">Password must have at least 8 characters</div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Retype Password</label>
                  <input type="password" class="form-control" formControlName="retypePassword" required minlength="8">
                </div>
                <div *ngIf="resetPasswordForm.controls.retypePassword.touched && resetPasswordForm.controls.retypePassword.errors?.required"
                     class="text text-danger mt-1">
                  Retype Password is required
                </div>
                <div *ngIf="resetPasswordForm.controls.retypePassword.touched && resetPasswordForm.controls.retypePassword.errors" class="text text-danger mt-1">
                  <div ng-message="minlength">Retype Password must have at least 8 characters</div>
                </div>
                <div *ngIf="areDiferents"
                     class="text text-danger mt-1">
                  The passwords are diferents.
                </div>
                <div class="form-group form-row mb-0">
                  <div class="col-md-4">
                    <button  type="submit" class="btn btn-secondary" [disabled]="resetPasswordForm.controls.retypePassword.errors || resetPasswordForm.controls.password.errors"
                            [class.loader--text]="this.showLoader"
                            (click)="setupPassword()">Create Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--Reset Password page end-->
</div>
